body {
    width: 100%;
    height: 100vh;
}

#new1 {

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 60vh;
}

.Brimma {
    display: block;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 250px;
    left: 45%;
    top: 30%;
}

.Inc {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    position: absolute;
    left: 35%;
    top: 40%;
    letter-spacing: 15px;
}

img {
    width: 300px;
    height: 35vh;
}

#par2 {
    width: 100%;
    height: 40vh;
    background-color: gold;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left {
    font-family: sans-serif;
    color: black;
    font-size: 30px;
}

.Right {
    font-family: sans-serif;
    color: black;
    font-size: 30px;
}


@media screen and (max-width: 480px),
(max-width: 768px),
(max-width: 820px),
(max-width: 912px),
(max-width: 1024px) {
    .Brimma {
        font-size: 70px;
    }

    .Inc {
        font-size: 12px;
        position: absolute;
        left: 36%;
        top: 34%;
        letter-spacing: 1mm;
    }

    img {
        width: 60px;
        height: 60px;
    }

    .left {
        font-size: large;
    }

    .Right {
        font-size: large;
    }
}